<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.Mapper.User_VideoMapper">
    <select id="findByUsername" parameterType="string" resultType="com.zjw.Domain.User_Video">
        select * from user_video where username = #{username}
    </select>
    <select id="countByUsername" parameterType="string" resultType="integer">
        select count(*) from user_video where username = #{username}
    </select>
    <select id="countByVideoname" parameterType="string" resultType="integer">
        select count(*) from user_video where videoname = #{videoname}
    </select>
</mapper>