<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.Mapper.UserMapper">

    <select id="selectUserByInfo" resultType="com.zjw.Domain.User">
        select * from user where username = #{username} or phone = #{username} or idcard = #{username}
    </select>

    <select id="isUserExist" parameterType="string" resultType="boolean">
        select IFNULL((select 1 from User where username = #{username} or phone = #{username} or idcard = #{username} ),0)
    </select>

    <select id="fineUsersByField" statementType="PREPARED" resultType="com.zjw.Domain.User">
        select * from user
        <if test="Value!=null">
            where ${Field} like '%${Value}%'
        </if>
    </select>

    <delete id="delUserById" parameterType="integer">
        delete from user where id = #{id}
    </delete>

    <update id="modUser" statementType="PREPARED">
        update user set ${Field} = #{Value} where ID = #{Id}
    </update>
    <insert id="insUser" parameterType="com.zjw.Domain.User">
        insert into user(idcard,username,passwd,phone,roles,securityquestion,securityanswer) values (#{idcard}, #{username}, #{passwd}, #{phone}, #{roles}, #{securityquestion}, #{securityanswer})
    </insert>
</mapper>