<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjw.Mapper.VideoMapper">
    <insert id="insVideo">
        insert into video(name,filename,time,path,username,uploadtime) values (#{name},#{filename},#{time},#{path},#{username},#{uploadtime})
    </insert>

    <select id="selectFileByname" resultType="com.zjw.Domain.Video">
        select * from video where name = #{name}
    </select>

    <select id="fineVideosByField" statementType="PREPARED" resultType="com.zjw.Domain.Video">
        select * from video
        <if test="Value!=null">
            where ${Field} like '%${Value}%'
        </if>
    </select>

    <delete id="delVideoById" parameterType="integer">
        delete from video where id = #{id}
    </delete>

    <select id="count" resultType="integer">
        select count(*) from video
    </select>

    <update id="modVideo" statementType="PREPARED">
        update video set ${Field} = #{Value} where ID = #{Id}
    </update>

    <select id="findByUsername1" parameterType="string" resultType="com.zjw.Domain.Video">
        select * from video where name = (select videoname from user_video where username = #{username});
    </select>
    <select id="findByUsername0" parameterType="string" resultType="com.zjw.Domain.Video">
        select * from video where name != (select videoname from user_video where username = #{username});
    </select>
</mapper>