<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="SpringDemoPro:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringDemoPro_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringDemoPro/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringDemoPro" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring Security-5.2.1" />
          <element id="library" level="project" name="Spring Web Services-2.0.2" />
          <element id="library" level="project" name="Java EE 6-Java EE 6" />
          <element id="library" level="project" name="Mybatis-3.5.7" />
        </element>
      </element>
    </root>
  </artifact>
</component>